<ul class="nav nav-pills links">
  <li class="nav-item">
    <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
  </li>
  <li class="nav-item">
    <a routerLink="services" routerLinkActive="active" class="nav-link">Services</a>
  </li>
  <li class="nav-item">
    <a routerLink="portfolio" routerLinkActive="active" class="nav-link">Works</a>
  </li>
  <li class="nav-item">
    <a routerLink="contact" routerLinkActive="active" class="nav-link">Contact</a>
  </li>
  <li class="nav-item">
    <a routerLink="admin" routerLinkActive="active" class="nav-link">Admin</a>
  </li>

</ul>
