.about {
  background-image: url("/images/verne-ho-0LAJfSNa-xQ-unsplash.jpg");
  background-image: url("/images/windows-to-sea.jpg");
  background-image: url("/images/jakub-dziubak-c-WkYXU8quc-unsplash.jpg");
  background-position: center 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
.about > img {
  width: 200px;
}
.about-head {
  color: black;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 5px;
}
.about-desc {
  color: black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}
.about-desc span {
  background-color: black;
  color: white;
  padding: 5px;
}
