<div class="about p-5 text-center">
  <img class="d-block mx-auto" src="/images/Top-Quality-logo.svg" alt="Top Quality logo">
  <h1 class="about-head text-body-emphasis">TOP QUALITY</h1>
  <p class="about-desc col-lg-8 mx-auto fs-5">
    More than a company, <span class="text-white text-bg-dark">not just a product</span>
  </p>
  <div class="d-inline-flex gap-2 mb-5">
    <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4" type="button">
      See more
    </button>

  </div>
</div>
