.carousel-item img {
  min-height: 400px;
  max-height: 89vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 1.25rem;
      left: 15%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #fff;
      text-align: center;
  }

  .featurette-heading {
      font-size: 1.5rem;
  }

  .featurette-image {
      max-width: 100%;
      height: auto;
  }
}
