<!-- <div class="hero-section d-flex align-items-center --bs-light-bg-subtle"
  style="background-image: url('office-background.jpg'); height: 60vh; background-size: cover; background-position: center; color: #fff;">
  <div class="container text-center text-black">
    <h1 class="display-4 fw-bold">Top Quality</h1>
    <p class="lead mt-3">Aluminum Systems</p>
    <a href="#portfolio" class="btn btn-outline-light text-black rounded-pill mt-4">Company Profile Presentation</a>
  </div>
</div> -->
