<!-- <div class="hero-section d-flex align-items-center --bs-light-bg-subtle"
  style="background-image: url('office-background.jpg'); height: 60vh; background-size: cover; background-position: center; color: #fff;">
  <div class="container text-center text-black">
    <h1 class="display-4 fw-bold">Top Quality</h1>
    <p class="lead mt-3">Aluminum Systems</p>
    <a href="#portfolio" class="btn btn-outline-light text-black rounded-pill mt-4">Company Profile Presentation</a>
  </div>
</div> -->
<div class="container-fluid col-xxl-8">
  <div class="row flex-lg-row align-items-center justify-content-center g-5 py-">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Top Quality Aluminum Systems</h1>
      <p class="lead">
        A company that comprises active employees including the
        management and staff, well-chosen engineers, experienced
        aluminium & glass technicians, stained/decorative glass
        fully-prepared workers. Armed by
        well-equipped with modern machinery to keep prompt service to
        meet customer's satisfaction.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fs-5">Services</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4 fs-5">Learn more</button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/hero-door-logo.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
  </div>
</div>
<!--
The company comprises active employees including the
management and staff, well-chosen engineers, experienced
Aluminium & glass technicians, stained/decorative glass
experienced workers, stainless steel. The factory is also
well-equipped with modern machinery to keep prompt service to
meet customer's satisfaction.
-->
