<!-- <div class="list-group">
  <a routerLink="home-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Home</a>
  <a routerLink="about-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">About</a>
  <a routerLink="services-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Services</a>
  <a routerLink="portfolio-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Latest
    Works</a>
  <a routerLink="contact-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Contact</a>
</div> -->
<div class="sidebar">
  <!-- Sidebar Menu -->
  <div class="list-group">
    <a routerLink="home-dashboard" routerLinkActive="active"
      class="list-group-item list-group-item-action d-flex align-items-center">
      <i class="bi bi-house-door me-2"></i> Home
    </a>
    <a routerLink="about-dashboard" routerLinkActive="active"
      class="list-group-item list-group-item-action d-flex align-items-center">
      <i class="bi bi-info-circle me-2"></i> About
    </a>
    <a routerLink="services-dashboard" routerLinkActive="active"
      class="list-group-item list-group-item-action d-flex align-items-center">
      <i class="bi bi-cogs me-2"></i> Services
    </a>
    <a routerLink="portfolio-dashboard" routerLinkActive="active"
      class="list-group-item list-group-item-action d-flex align-items-center">
      <i class="bi bi-briefcase me-2"></i> Latest Works
    </a>
    <a routerLink="contact-dashboard" routerLinkActive="active"
      class="list-group-item list-group-item-action d-flex align-items-center">
      <i class="bi bi-envelope me-2"></i> Contact
    </a>
  </div>
</div>
