<div class="list-group">
  <a routerLink="home-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Home</a>
  <a routerLink="about-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">About</a>
  <a routerLink="services-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Services</a>
  <a routerLink="portfolio-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Latest
    Works</a>
  <a routerLink="contact-dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Contact</a>
</div>
